@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Open+Sans+Condensed:wght@300&family=Roboto:wght@400;500&family=Sacramento&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.nav.active {
  background: #282828;
  color: #fff;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  padding: 0;
}

.nav {
  top: 0;
  position: fixed;
  width: 100%;
  padding: 15px;
  z-index: 100;
}

.nav__container {
  width: 50%;
  margin: auto;
}

.nav__container .nav__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  color: #fff;
}

.nav__container .nav__wrapper .nav__logo {
  text-transform: uppercase;
  font-size: 2em;
  font-family: "Chewy", cursive;
  cursor: pointer;
}

.nav__container .nav__wrapper .nav__links li {
  color: #fff;
  display: inline;
  padding: 20px;
  font-weight: bold;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.nav__container .line {
  color: #282828;
}

.nav__container .line.active {
  display: none;
}

.nav__container .hamburger {
  display: none;
}

@media (max-width: 1280px) {
  .nav.active {
    background: #fff;
  }
  .nav {
    background: #fff;
    padding: 0;
  }
  .nav__logo {
    color: #000;
  }
  .nav__links {
    display: none;
  }
  .nav .hamburger {
    display: block;
    position: absolute;
    -webkit-transform: translateX(-8em);
            transform: translateX(-8em);
    cursor: pointer;
    padding: 10px 0;
  }
  .nav .hamburger .lines {
    height: 3px;
    width: 35px;
    background: #000;
  }
  .nav .hamburger .lines::after {
    content: "";
    position: absolute;
    -webkit-transform: translateY(-0.4em);
            transform: translateY(-0.4em);
    height: 3px;
    width: 30px;
    background: #000;
  }
  .nav .hamburger .lines::before {
    content: "";
    position: absolute;
    -webkit-transform: translateY(0.4em);
            transform: translateY(0.4em);
    height: 3px;
    width: 30px;
    background: #000;
  }
  .nav .line {
    display: none;
  }
}

@media (max-width: 600px) {
  .nav .hamburger {
    display: block;
    -webkit-transform: translateX(-5em);
            transform: translateX(-5em);
  }
}

.hero {
  width: 100%;
  color: #fff;
  background-image: url("../img/img-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero .overlay {
  background: rgba(0, 0, 0, 0.32);
  top: 0;
  left: 0;
  min-height: 100vh;
}

.hero .hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(18em);
          transform: translateY(18em);
}

.hero .hero__container h3 {
  margin-bottom: -30px;
  font-family: "Sacramento", cursive;
  font-size: 4.5em;
  font-weight: lighter;
}

.hero .hero__container h1 {
  font-family: "Roboto", sans-serif;
  font-size: 5.5em;
  margin-bottom: 15px;
  letter-spacing: 0.1em;
}

.hero .hero__container p {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1em;
  max-width: 350px;
  text-align: center;
}

.hero .hero__container .mouse-svg {
  position: absolute;
  cursor: pointer;
  margin-top: 25em;
  -webkit-animation: mouse 1.5s linear infinite;
          animation: mouse 1.5s linear infinite;
}

@-webkit-keyframes mouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes mouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hero .hero__container {
    -webkit-transform: translateY(18em);
            transform: translateY(18em);
  }
  .hero .hero__container h3 {
    font-size: 4em;
  }
  .hero .hero__container h1 {
    font-size: 5em;
  }
  .hero .hero__container p {
    font-size: 0.7em;
    width: 50%;
  }
}

.menu {
  position: relative;
  min-height: 75vh;
  width: 100%;
  z-index: 10;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__container .left_side {
  width: 35%;
  height: 75vh;
  background-image: url("../img/img-2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__container .right {
  position: relative;
  width: 65%;
}

.menu__container .right .btnMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__container .right .btnMenu .link {
  font-size: 1.2em;
  padding: 10px;
  color: #fff;
  background: #282828;
  border-radius: 5px;
  -webkit-transform: translateX(2em) translateY(-2em);
          transform: translateX(2em) translateY(-2em);
}

.menu__container .right .btnMenu .link:hover {
  background: #282828f6;
}

.menu__container .right .contenido {
  padding: 50px 10px;
  font-family: "Oswald", sans-serif;
}

.menu__container .right .contenido ul {
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
  margin: auto 20px;
}

.menu__container .right .contenido ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.menu__container .right .contenido ul li .description h3 {
  font-size: 1.5em;
}

.menu__container .right .contenido ul li .description p {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.541);
}

.menu__container .right .contenido ul li .price {
  font-size: 1.2em;
  margin-left: auto;
}

.menu__container .right .carta {
  width: 80%;
  max-width: 1000px;
  min-width: 400px;
  background: #fcf6db;
  -webkit-transform: translateX(10%) translateY(5%);
          transform: translateX(10%) translateY(5%);
}

.menu__container .right h1 {
  -webkit-transform: translateY(-0.5em) translateX(0.7em);
          transform: translateY(-0.5em) translateX(0.7em);
  width: 7em;
  text-transform: uppercase;
  font-size: 2.5em;
  font-family: sans-serif;
  letter-spacing: 2px;
}

@media (max-width: 1280px) {
  .menu {
    min-height: 60vh;
  }
  .menu__container .right .contenido ul li .description h3 {
    font-size: 1.5em;
  }
  .menu__container .right .contenido ul li .description p {
    font-size: 10px;
    display: none;
  }
  .menu__container .right .contenido ul li .price {
    font-size: 1em;
  }
  .menu__container .right .carta {
    -webkit-transform: translateY(3em) translateX(4em);
            transform: translateY(3em) translateX(4em);
  }
}

@media (max-width: 730px) {
  .menu__container .left_side {
    display: none;
  }
  .menu__container .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu__container .right .carta {
    margin: 12% auto;
  }
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #e74c3c;
  z-index: 10;
}

.feedback__container {
  width: 70%;
  padding: 5rem 0;
  z-index: 10;
}

.feedback__container h1 {
  margin-top: -30px;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
  font-size: 3em;
}

.feedback__container .card_container {
  overflow-x: hidden;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reservation {
  background: #f3f3f3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reservation .cabecera {
  font-size: 3em;
  text-align: center;
}

.reservation .btn:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
}

.footer {
  padding: 20px;
  background: #282828;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .copy {
  color: #fff;
  font-size: 1.5em;
}

.footer .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .social_media .facebook,
.footer .social_media .instagram,
.footer .social_media .twitter {
  cursor: pointer;
  font-size: 40px;
  color: #ffffff;
  padding: 5px;
}

.footer .social_media .facebook:hover {
  color: #3b5998;
}

.footer .social_media .instagram:hover {
  color: #b64b9d;
}

.footer .social_media .twitter:hover {
  color: #579ff1;
}

.card {
  position: relative;
  min-width: 300px;
  padding: 25px 40px;
  margin: auto 10px;
  background: rgba(208, 210, 217, 0.699);
  z-index: 10;
  border-radius: 10px;
}

.card .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.card .rating .star {
  width: 50%;
  color: yellow;
  font-size: 1em;
}

.card .rating p {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.466);
}

.card .comment {
  font-size: 1em;
}
/*# sourceMappingURL=main.css.map */