.card {
  position: relative;
  min-width: 300px;
  padding: 25px 40px;
  margin: auto 10px;
  background: rgba(208, 210, 217, 0.699);
  z-index: 10;
  border-radius: 10px;
  .rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .star {
      width: 50%;
      color: yellow;
      font-size: 1em;
    }
    p {
      font-size: 0.8em;
      color: rgba(0, 0, 0, 0.466);
    }
  }

  .comment {
    // text-align: left;
    font-size: 1em;
  }
}
